@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");



/* -------------------------------- 

Hero 

-------------------------------- */
#top-bar {
    background-color:#252525;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:60px;
    z-index:999
}

#small-logo {
	font-family:"Source Sans Pro",sans-serif;
    font-weight:400;
    font-size:16px;
    letter-spacing:.2em;
    color:#fff;
    line-height:60px;
    margin-left:20px
}

#intro {
    position:relative;
    height:500px;
    background-color:#F0F0F0;
    padding:10px 0;
    margin-top:40px;
    background:url(../pics/banner.jpg) no-repeat center fixed;
    background-size:initial;
    background-position-y:50px
}

#name {
    width:800px;
    height:120px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:996;
    margin:auto;
    color:#fff;
    border:4px solid #fff;
    padding:20px
}

#name2 {
    width:800px;
    height:120px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    background:inherit;
    filter:blur(5px);
    -webkit-filter:blur(5px);
    -moz-filter:blur(5px);
    -o-filter:blur(5px);
    -ms-filter:blur(5px);
    right:0;
    margin:auto;
    color:#fff;
    letter-spacing:.5em;
	font-family:"Source Sans Pro",sans-serif;
    font-weight:400;
    font-size:28px;
    text-shadow:0 0 10px #717c80;
    border:4px solid #fff;
    padding:20px
}

#name.larger {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1)
}

#name span {
    opacity:0;
    -webkit-transition:all 500ms;
    -moz-transition:all 500ms;
    transition:all 500ms
}

#name span.visible {
    opacity:1;
    text-shadow:none
}

#name span.darker {
    color:#383f42;
    font-weight:700;
    text-shadow:none
}

.section-arrow {
    position:absolute;
    bottom:0;
    height:40px;
    width:100%;
    margin-top:100px
}

.section-arrow > div {
    float:left;
    height:100%
}

.block {
    width:40%;
    width:calc(50% - 40px);
    background-color:#fff
}

.triangle {
    width:10%;
    width:calc(40px);
    position:relative
}

.triangle:after {
    content:"";
    width:0;
    height:0;
    border-style:solid;
    position:absolute;
    bottom:0
}

.triangle.left:after {
    border-width:40px 0 0 40px;
    border-color:transparent transparent transparent #fff
}

.triangle.right:after {
    border-width:0 0 40px 40px;
    border-color:transparent transparent #fff
}

section {
    margin-left:100px;
    margin-right:100px;
    padding-top:50px;
    padding-left:100px;
    padding-right:100px
}




/* ------------

Main Section

--------------*/

.mainsection {
	font-size: 18px;
	font-family:"Source Sans Pro",sans-serif;
}



/* ------------

About me

--------------*/

.aboutme {
	padding:100px;
	padding-left:400px;
	padding-right:400px;
}

.aboutmediv1 {
    padding-left:50px;
		overflow:hidden;
	font-family:"Source Sans Pro",sans-serif;
    font-size:23px;
    display:block
}

.aboutmediv2 {
    padding-left:0px;
		overflow:hidden;
	font-family:"Source Sans Pro",sans-serif;
    float:center;
    display:none
}
.mememe {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.mememe:hover {
  opacity: .7;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

/* ------------

Social Sections

--------------*/
.Socialsec {
	font-size: 18px;
	font-family:"Source Sans Pro",sans-serif;
}

/* ------------

portfolio

--------------*/
	#portfolio {
		font-family:"Source Sans Pro",sans-serif;
		background: #252525;
		padding: 0px 200px 50px 200px;
		overflow:hidden;
	}

	#pic111111 {
		width:34%;height:600px;float:left;padding:10px;filter: none;-webkit-filter: grayscale(0%);
	}
	#pic222222 {
		width:33%;height:300px;float:left;padding:10px;filter: none;-webkit-filter: grayscale(0%);
	}
	#pic333333 {
		width:33%;height:300px;float:left;padding:10px;filter: none;-webkit-filter: grayscale(0%);
	}
	#pic444444 {
		width:33%;height:300px;float:left;padding:10px;filter: none;-webkit-filter: grayscale(0%);
	}
	#pic555555 {
		width:33%;height:600px;float:right;padding:10px;filter: none;-webkit-filter: grayscale(0%);
	}
	#pic666666 {
		width:34%;height:300px;float:left;padding:10px;filter: none;-webkit-filter: grayscale(0%);
	}
	#pic777777 {
		width:33%;height:300px;float:left;padding:10px;filter: none;-webkit-filter: grayscale(0%);
	}






	#pic111111:hover {
	opacity: .7;filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");filter: gray;-webkit-filter: grayscale(100%); 
	}
	#pic222222:hover {
	opacity: .7;filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");filter: gray;-webkit-filter: grayscale(100%); 
	}
	#pic333333:hover {
	opacity: .7;filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");filter: gray;-webkit-filter: grayscale(100%); 
	}
	#pic444444:hover {
	opacity: .7;filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");filter: gray;-webkit-filter: grayscale(100%); 
	}
	#pic555555:hover {
	opacity: .7;filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");filter: gray;-webkit-filter: grayscale(100%); 
	}
	#pic666666:hover {
	opacity: .7;filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");filter: gray;-webkit-filter: grayscale(100%); 
	}
	#pic777777:hover {
	opacity: .7;filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");filter: gray;-webkit-filter: grayscale(100%); 
	}
/* ------------

CONTACT

--------------*/

.contactstuff {
	width:50%;margin: 0 auto;
}

.contactstuff2 {
	float:left;width:50%;margin: 0 auto;
}
.contactstuff3 {
	float:right;margin: 0 auto;
}

.contactstuff_new {
	display: none;
}







html, body {
  background: #FFF;
  color: #555;
  font-family:"Source Sans Pro",sans-serif;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.36;
  margin: 0px auto;
  padding: 30px 0px 0px;
}

* {
  margin: 0;padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}
:before, :after {
  -webkit-box-sizing: border-box;
  -mox-box-sizing: border-box;
  box-sizing: border-box;
}
a {color: grey;text-decoration: none;}
a:hover {color: grey; opacity: 0.5;text-decoration: none;}
a:active {color: grey;text-decoration: none;}
a:visited {color: grey;text-decoration: none;}
img {display: block;width: 100%;height: auto;}
ul, li {margin: 0;padding: 0;list-style: none;}
input {line-height: normal;}
textarea {overflow: auto;}
button, 
html input[type=button], 
input[type=reset], 
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button {overflow: visible;}
button, select {text-transform: none;}
button, input, selection, textarea {
  color: inherit;
  font: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}
.clearfix:before,.clearfix:after,
.box-row:before,.box-row:after,
.container-all:before,.container-all:after {content: "";display: table;}
.clearfix:after,.row:after,.container-all:after {clear: both;}

header {
  background: #222;
  position: fixed;
  top: 0;left: 0;
  margin: 0 auto;padding: 10px 0px;
  text-align: center;
  width: 100%;height: 60px;
  z-index: 9;
}
header img {width:35px;}
header .bar-menu, header .icon {
  display: inline-block;
  vertical-align: middle;
  position: absolute;
}
header .bar-menu {font-size: 18px;font-weight: 600;}
header .bar-menu {color: #999;top: 15px;right: 20px;}
header .icon {left: 20px;}
header #click .fa {font-size: 20px;padding-left :15px;}
header #click {
  color: #999;
  cursor: pointer;
  display: inline-block;
  height: 30px;width: 35px;
}
header #sidebar {
  background-color: rgba(0,0,0,.85);
  border-left: 1px solid #000;
  padding: 0px 10px;margin: 0;
  position: fixed;
  bottom: 0px; top: 60px;
  width: 290px;height: initial;
  overflow: hidden;
}
header .sidebar {
  left: 100%;right: 0;
  opacity: 0;
  -webkit-transform: translate(0px);
  -moz-transform: translate(0px);
  transform: translate(0px);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
header .container {
  background: transparent;
  position: absolute;
  top: 0;bottom: 0;
  right: 0;left: 0;
  margin: 10px;padding: 10px;
  width: initial;height: auto;
  overflow-Y: auto;
}
header .box, .box ul, .box li, .box a {
  color: #DDD;
  display: block;
  font-size: 16px;
  font-weight: 400;
  list-style-type: none;
  margin: 0;padding: 0;
  text-align: center;
}
header #sidebar .container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.15);
	background-color: transparent;border-radius: 5px;
}
header #sidebar .container::-webkit-scrollbar {width: 6px;background-color: transparent;}
header #sidebar .container::-webkit-scrollbar-thumb {background-color: rgba(255,255,255,0.25);border-radius: 5px;}
header .box img {padding: 10px 0;width: 100%;height: auto;}
header .box p {font-size: 14px;padding: 0px 10px 20px;}
header .box .name {font-size: 25px;padding: 0px 10px 10px;}
header .box ul, header .box p {border-right: 1px solid rgba(255,255,255,.5);}
header .box ul {margin: 0;padding: 10px 10px 20px 0px;}
header .box li {padding: 3px 0px;}
header .box a {font-size: 13px;font-weight: 400;letter-spacing: 1px;}
header .box a:hover {color: #FFF;font-weight: 700;opacity: 1;}
header .box li:hover {background: rgba(0,0,0,.5);color: #FFF;}
header .box h2 {
  border: 1px solid rgba(255,255,255,.5);
  border-right: 0;
  color: #FFF;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 2px;
  padding-bottom: 5px;
}
header .open {
  opacity: 1;
  -webkit-transform: translate(-290px);
  -moz-transform: translate(-290px);
  transform: translate(-290px);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
#mobile {
  width: 50px;
  height: 44px;
  left: 0;
  top: 60px;
  position: fixed;
  z-index: 1000;
  background: #FFF;
}
#mobile p {
  padding-top: 10px;
  font-size: 20px;
  text-align: center;
  width: 100%;
}
#mobil {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: #E7EAEF;
  margin-top: 0;
  height: 100%;
  overflow: auto;
}
#mobil > ul {text-align: center;}
#mobil > ul > li,
#mobil > ul > li > a {display: block;position: relative;}
#mobil > ul > li > a {padding: 10px 15px;}
#intro {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
}
.banner ul li {
  float: left;
  background-size: 50px 50px;
  height: 500px;
  width: 100%;
}
.slide_01, .slide_02, .slide_03 {
  background-position: center;
  background-size: cover !important;
}
.slide_01 {background-image: url('http://goo.gl/X11NaN');}
.slide_02 {background-image: url('http://goo.gl/xEp62Z');}
.slide_03 {background-image: url('http://goo.gl/TJK6st');}
.banner  div.slide-caption {
  max-width: 600px;
  margin: 120px auto auto 10%;
}
.banner  div.slide-caption h2, .banner  div.slide-caption p {
  background: rgba(20,136,234,0.55);
  border-radius: 3px;
  text-align: left;
  color: #FFF;
  line-height: 2em;
  float: left;
  padding: 10px;
 }
.banner  div.slide-caption h2 {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.8em;
  margin: 0;
  padding: 0px 10px;
}
.banner  div.slide-caption p {
  font-size: 16px;
  margin: 10px 0 0 0;
}
#level-main .container-all {margin: 0 auto;}
#level-main ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
#level-main ul > li {
  display: table-cell;
  position: relative;
  width: initial;height: 50px;
}
#level-main ul > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
#level-main li a {
  height: 50px;
  font-size: 20px;
  text-align: center;
  color: #939393;
  margin:0px 15px;
}
#level-one, #level-two {text-align: center;}
#level-one, #level-two, #blog {
  background: transparent;
  overflow: hidden;
}
#level-one {background: #262433;}
#level-two {background: #29282D;}
#level-one p, #level-two p, #level-two h2 {
  color: #777;
  text-align: center;
  margin: 0px auto 10px;
}
#level-one .container-all {max-width: 100%;}
#level-one .text, .text {margin: 0 auto;width: 70%;}
#level-one .text p, .text p {color: #B8B8B8;}
#level-one .box-animate {
  margin: 70px auto;
  height: auto;
  background: #F1F1F1;
  box-shadow: inset 0px 0px 0px 1px #D2D2D2;
  position: relative;
}
#level-one .box-animate ul {
  list-style: none;
  padding: 25px 30px 15px 30px;
}
#level-one .box-animate li:first-child {border-top: 0;}
#level-one .box-animate li {
  list-style: none;
  padding: 10px 0 10px 0;
  font-size: 14px;
  line-height: 3;
  border-top: 1px solid #E2E2E2;
}
#level-one .fa {color: #08c;font-size: 25px;}
#level-one .fa {padding: 0px 20px 0px 0px;}
#level-two h2 {color: #555;font-weight: 400;}
.container-all {margin: 0 auto; padding: 0 15px;}
.box-row {margin: 0px -15px 0px;}
.box-header, #level-main, 
.nav-main, .nav-main ul, .f-box, .txtarea {width: 100%;}
.txtarea, .button {float: left;}
.button {width: 66.66666667%;}
.box-header {height: 150px;text-align: center;}
.box-header h2 {
  color: #5F5F5F;
  font-size: 45px;
  font-weight: 500;
  padding: 60px 0 10px;
}
#vector-icon {
  background: #F1F1F1;
  border-radius: 100%;
  margin: 0 auto;padding: 48px;
  width: 150px;height: 150px;
  
}
#vector-icon.fa{color: #08c;font-size: 56px;}
.content-image img {
  margin: 35px 0 60px;
  padding: 0px 0px 30px;
}
.image, .content, 
.content-image, .box-is, 
.nav-main, article, .f-box, 
.input, .txtarea, .button {
  position: relative;
  min-height: 1px;
  padding: 0px 15px;
}
.image img, article, #vector-icon {margin: 0 auto 30px;}
.image, .content, .content-image {overflow: hidden;}
.image img {width: 100%;height: auto;}
article h2 {
  color:#222;
  font-size: 30px;
  font-weight: 300;
  margin: 0px auto 10px;
}
article h4 {
  font-size: 13px;
  font-weight: 400;
  margin: 0px auto 10px;
  padding: 0;
}
article h4 a, article h4 .fa {padding: 0 6px;}
article p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 10px 5px 0px;
  text-align: justify;
}
#contact {
  font-family:"Source Sans Pro",sans-serif;
  background: #252525;
  padding: 0px 0px 30px;
}
#contact #map {
  width: 100%;
  height: 245px;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
}
#contact #map #contact-map {
  width: 100%;
  height: 245px;
  position: absolute;
  left: 0;
  background: #B3E9FF;
}
#contact form input[type=text] {height: 40px;}
#contact form textarea, #contact form input[type=text] {
  background: #222;
  color: #999;
  width: 100%;
  border: 2px solid #353535;
  padding: 10px;
}
#contact form textarea {height: 180px;}
#contact form button {
  width: 100%;
  border: 1px solid #008FC9;
  font-size: 20px;
  padding: 10px;
  background: #35A9D8;
  margin: 25px auto 25px;
  color: #FFF;
}
#contact form p {color: #656565;padding: 20px 0 10px;}
.conatact, .footer {
  width: 100%;
  background: #C0C0C0;
  border-bottom: 1px solid #FFF;
}
.f-box p {
  margin: 0;
  padding: 0;
  text-align: center;
}
#footer {
  background: #151515;
  padding: 30px 0px;
}
.visibility-mobil {display: none !important;}
@media only screen and (min-width: 768px){
  .container-all {width: 750px;}
  #level-one .box-is {width: 50%;}
  .image, .box-is, article {float: left;}
  .image {width: 33.33333333%;}
  article {width: 66.66666667%;}
}
@media only screen and (min-width: 992px) {
  .container-all {width: 970px;}
  #level-one .box-is {width: 25%;}
  .image, .content, .content-image, 
  .box-is, .nav-main, article, .input, .button {float: left;}  
  .image, .content, .content-image, .input, .button {width: 33.33333333%;}
}
@media only screen and (min-width: 1200px) {
  .container-all {width: 1170px;}
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .hidden {display: none !important;}
  .visibility-mobil {display: block !important;}
  #level-one .text, .text {width: 90%;}
  .content-image img {margin: 10px 0 10px;}
}
@media only screen and (max-width: 767px) {
  .hidden {display: none !important;}
  .visibility-mobil {display: block !important;}
  #contact form textarea {height: 100px;}
  #level-one .text, .text {width: 80%;}
  .content-image img {margin: 10px 0 10px;}
}
 #mack-map {
  width: 100%;
  height: 400px;
  background-color: #252525;
}

.contactfont {
	font-size:20px;
}

/* -------------------------------- 

Footer

-------------------------------- */


.footer {
	padding: 40px;
	background: #ffffff;
	text-align: center;
	font-family:"Source Sans Pro",sans-serif;
}
